.container1{
  width: 100%;
  overflow: hidden;
}
header{
  // background-color: rgba(35, 35, 187, 0.1);
  background-size:cover;
  .logo{
    width: 20rem;
    height: 5rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2147483647;
  }
  nav{
    padding-top: 10px;
    display: none;
    // 中央揃え記述
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2147483647;
    font-weight: bold;
    width: 55%;
  }
  ul{
    margin:0;
    // width: 80%;
    li{
      margin-right: 1rem;
      color: rgb(26, 26, 26);
    }
  }
}
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
.snip1211 {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  // letter-spacing: 1px;
  border: solid 1px black;
  background-color: rgba(255, 255, 255, 0.911);
  display: flex;
  justify-content: center;
  border-radius: 0.3rem;
}
.snip1211 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  // 初期の動き停止
  // -webkit-transition: all 0.35s ease;
  // transition: all 0.35s ease;
}
.snip1211 li {
  display: inline-block;
  list-style: outside none none;
  // margin: 0.5em 1.5em;
  margin: 0.3em 1em;
  padding: 0;
  
}
.snip1211 a {
  padding: 0.4em 0;
  // color: rgba(255, 255, 255, 0.5);
  color: rgba(36, 33, 33, 0.8);
  position: relative;
  text-decoration: none;
  display: inline-block;
}
// ヘッダーアニメーション
.snip1211 a:before {
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  top: 25%;
  bottom: 25%;
  left: 0;
  right: 0;
  border-top: 3px solid #011846;
  border-bottom: 3px solid  #011846;
}
.snip1211 a:hover,
.snip1211 .current a {
  // color: #ffffff;
  color: black;
}
.snip1211 a:hover:before,
.snip1211 .current a:before {
  opacity: 1;
  top: 0;
  bottom: 0;
}

.effect-fade {
  opacity : 0;
  transform : translate(0,100px);
  transition : all 1500ms;
  }
  
.effect-fade.effect-scroll {
opacity : 1;
transform : translate(0, 0);
}





.main-view{
  width: 100%;
  height: 100%;
  display: inline-block;
  h2{
    margin: 0;
  }
  
  &__right{
    width: 100%;
    height: 70vh;
    background: linear-gradient(rgba(110, 110, 110, 0),rgba(31, 31, 31, 0.74)),url(../img/crean5.JPG);
    // background-size: cover;
    background-size: 110% 100%;
    // background-position: center center;
    .img{
      height: 80%;
      width: 100%;
    }
    .text{
      text-align: center;
      font-size: 1.3rem;
      color: rgb(245, 245, 245);
      font-weight: bold;
      margin: 0;
      padding-top: 18rem;
      line-height: 4rem;
    }
  }

  &__left{
    // background: linear-gradient(rgba(255, 255, 255, 0.6),rgba(243, 243, 243, 0.473)),url(../img/crean5.JPG);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /*左右中央揃え*/
    align-items: center;     /*上下中央揃え*/
    // background-color: #00183a;
    background-color: #4072b8;
    // background-image: url(../img/crean5.JPG);
    background-size: cover;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family:'Noto Serif JP',"游明朝", 'YuMincho', "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    padding: 2rem;
    .inner{
      margin-top: 7rem;
    }
    .explain4{
      font-size: 1.4rem;
      padding-bottom:1rem ;
    }
    .main-text{
      border-top:solid 1px rgb(255, 255, 255);
      border-bottom: solid 1px rgb(253, 253, 253);
      font-size: 2.5rem;
      line-height: 4rem;
    }
    .gosoudan{
      padding: 0 0 1.3rem 0;
      margin: 0;
      font-size:1.2rem ;
    }
    
    // ボタンデザイン
    .btn-flat-border {
      display: inline-block;
      // padding: 0.5em 1.4em;
      padding: 1em 1.4em;
      text-decoration: none;
      color: #ffffff;
      border: solid 2px #ffffff;
      border-radius: 3px;
      transition: .4s;
      width: 90%;
    }
    .word-size{
      font-size: 1.2rem;
    }
    .btn-flat-border:hover {
      background: #67c5ff;
      color: rgb(255, 255, 255);
      border: solid 2px #ffffff;
      text-decoration: none;
    }

    .zisseki{
      // チェック確認用
      // border: solid 1px black;
      margin-top: 1rem;
      background-image: url(../img/prise.png);
      background-size: contain;
      background-repeat:  no-repeat; /* 画像の繰り返しを指定 */              
      background-position:center; /* 画像の表示位置を指定  */
      background-size:contain;
      height: 30rem;
      padding: 8rem 0 8rem 0;
      min-width: 350px;
      
      .text{
        color: rgb(3, 3, 3);
        font-weight: bold;
        img{
          // superhotel logo
          height: 4rem;
          width: 12rem;
          padding-bottom:2rem ;
        }
        a{
          text-decoration: none;
          color: black;
        }
        .head-t{
          font-family: 'Hiragino Kaku Gothic Pro';
          font-size:2.4rem;
          color: rgb(138, 8, 8);
          // background-color: #fff;
          text-shadow:  2px  2px 10px rgb(255, 255, 255) ,
          -2px  2px 10px rgb(248, 248, 248) ,
           2px -2px 10px rgb(255, 255, 255) ,
          -2px -2px 10px rgb(255, 255, 255);
        }
        .first{
          font-size: 1rem;
          .covid{
            font-size: 1.2rem;
            position: relative;
            .hotel-osaka{
              position: absolute;
              width: 8rem;
              height: 8rem;
              left: 22rem;
              top: 8rem;
              border: solid 2px rgb(255, 255, 255);
              border-radius: 50%;
            }
          }
          
        }
        .secound{
          font-size:1.6rem ;
          font-weight: bold;
          margin: 0;
          
        }
        .third{
          font-size: 2.5rem;
          // background-color: #fff;
          
        }
      }
    }
    .phone-num{
      background-color: #fff;
      color: #00183a;
      border-radius: 0.5rem;      
    }
  }
}


.section1{
  height: fit-content;
  background-color: rgb(255, 255, 255);
  text-align: center;
  width: 100%;
  
  .reason-box{
    width: auto;
    max-width: 25rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    font-size: 1.4rem;
    padding: 0 0.2rem 0 0.2rem;
  }
  .midasi2{
    margin-top: 10rem;
    margin-bottom: 10rem;
    font-size: 1rem;
  }
  .crean-flows{
    // padding: 0 25rem 0 25rem;
    .row4{
      width: 100%;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 1%;
     
      // .crean-flow:nth-child(odd){
      //   margin-right: 3rem;
      // }
      .crean-flow{
        width: 60%;
        margin-right: 0;
        // padding-bottom: 3rem;

        
        .title{
          background-color:#4072b8;;
          color: white;
          font-weight: bold;
          width: 100%;
          margin:0 auto ;
          font-size: 1.5rem;
          font-family: 'arial black';
          p{
            margin: 0;
            font-size: 0.8rem;
          }
        }
        img{
          padding: 0.6rem;
          border: solid 1px rgb(37, 37, 37);
          // width: 14.5rem;
          width: 100%;
          // height: 10rem;
          height: 70%;
          margin-top: 0.5rem;
        }
        .text{
          height: fit-content;
        }
      }
    }
  }
  .point2{
    width: 60%;
    margin: 0 auto;
    font-size: 3rem;
    p{
     margin: 0;
    }
  }
  .midasi2{
    font-size: 1.3rem;
  }
  .formation{
    margin: 0 auto;
    height: fit-content;
    width: 90%;
    margin-top:100px;
    margin-bottom: 100px;
    display: block;
    justify-content: center;
    .left-img{
      border: solid 1px black;
      width: 100%;
      margin: 0 auto;
      img{
        width: 90%;
        height: 90%;
      }
    }
    .right-text{
      padding-top: 4rem;
      height: 45rem;
      border: solid 1px black;
      width: 100%;
      margin: 0 auto;
      margin-top: 4rem;
      ul{
        margin-top: 3rem;
        margin-left: 3rem;
        font-size:1.2rem ;
      }
      li{
        text-align: left;
      }
      p{
        border:solid 1px gray ;
        width: 70%;
        margin:0 auto ;
        margin-top: 5rem;
        background-color: rgb(112, 122, 179);
        color: white;
        border-radius: 0.3rem;
        font-weight: bold;
      }
    }
  }
  .drug{
    margin: 0 auto;
    width:90% ;
    padding-bottom: 20rem;
    table{
      margin: 0 auto;
      width: 100%;
      border: rgb(15, 15, 15);
      td{
        font-size: 1.2rem;
      }
    }
    .drug__kome{
      margin: 0;
      font-size: 0.6rem;
      width: 100%;
    }
  }
}



// section2 section2 section2 section2 section2
.section2{
  height: fit-content;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 0;
  .flow-graf{
    margin-top: 10rem;
    .row{
      // レスポ
      width: 90%;

      margin: 0 auto;
      .graf{
        width: 22%;
        height: 22rem;
        // border: solid 1px gray;
        margin: 0 auto;
        border-radius:0.5rem ;
        background-color: rgb(99, 122, 226);
        color: white;
        position: relative;
        .num{
          font-size: 5rem;
          font-weight: bolder;
        }
        .fa-4x{
          font-size: 3.8rem;
        }
        .image-f{

        }
        .text{
          margin: 0 auto;
          width: 90%;
          margin-top: 3rem;
          border-top: solid 1px white;
          padding-top: 1rem;
          font-size: 0.6rem;
          font-weight: bolder;
        }
        .triangle {
          position: absolute;
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-left: 10px solid rgb(99, 122, 226);
          top: 40%;
          left: 100%;
        }
      }
    }
  }
  .flows{
    width: 80%;
    margin: 0 auto;
    margin-top: 10rem;
    .yazirusi{
      padding: 1rem;
      .color{
        color:#4072b8;
      }
    }
    
    .flow{
      border: solid 1px black;
      .flow-title{
        border-bottom: solid 1px black;
        font-weight: bold;
        text-align: center;
        font-size: 1rem;
      }
      .title-span{
        background-color: #4072b8;
        color: white;
        font-weight: bold;
        padding: 1px;
        float: left;
        border-radius: 1px;
      }
      .flow-text{
        width: 85%;
        font-size: 1rem;
        text-align: center;
        margin: 0 auto;
        p{
          text-align: left;
          margin-bottom: 0;
          padding: 1%;
          font-size: 1rem;
        }
      }
    }
    .point{
      // 文字色のみ少し濃く
      color:#3b639b;
      font-weight: bold;
      font-size: 1.2rem;
      text-align: left;
      border-top: solid 2px #4072b8;
      border-bottom: solid 2px #4072b8;
      p{
        padding: 1rem;
        width: 80%;
        margin: 0 auto;
      }
    }
    .point:after{
      background-color: #4072b8;
    }
  }
}



.section3{
  height: fit-content;
  background-color: rgb(236, 236, 236);
  text-align: center;
  padding: 16px;
  .midasi2{
    margin: 5rem;
    font-size: 1.5rem;
  }
  .price1{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5rem;
    h1{
      text-align: left;
      font-size: 1.8rem;
    }
    .kome{
      text-align: right;
      margin-right: 0.5rem;
      font-size: 1rem;
    }
  }
  .price2{
    width: 90%;
    margin: 0 auto;
    h1{
      text-align: left;
      font-size: 1.8rem;
    }
    .kome{
      text-align: right;
      margin-right: 0.5rem;
      font-size: 1rem;
    }

    .time{
      margin: 0 auto;
      height: 60rem;
      // border: dotted 1px black;
      .midasi2{
        font-size: 1.5rem;
      }
      &__box{
      height: 21rem;
      border: solid 0.5rem rgb(44, 103, 180);
      margin: 0 auto;
      color: rgb(46, 46, 46);
      .upper{
        border-bottom: dotted 1.5px rgb(47, 61, 139);
        text-align: center;
        height: 12rem;
        // 予備パディング
        padding: 2rem;
        &__1{
          font-weight: bold;
          font-size: 1.4rem;
        }
        &__2{
          font-size: 2rem;
          width: 100%;
        }
        &__3{
          font-size: 1.2rem;
        }
      }
      .bottom{
        display: flex;
        height: 8rem;
        .left{
          border-right: dotted 1.5px rgb(47, 61, 139);
          width: 50%;
          padding: 1rem 0 1rem 0;
          p{
            font-size: 1rem;
          }
        }
        .right{
          width: 50%;
          padding: 0.8rem;
          h3{
            font-size: 0.4rem;
          }
          .btn-size{
            font-size: 1rem;
          }
          }
          // ボタンデザイン
        
        }
      }
      .btn-flat-border {
        display: inline-block;
        padding: 0.3em 1em;
        text-decoration: none;
        color: rgb(47, 61, 139);
        border: solid 2px rgb(47, 61, 139);
        border-radius: 3px;
        transition: .4s;
        }
        
        .btn-flat-border:hover {
          background: rgb(47, 61, 139);
          color: white;
        }
    }
  }
  // テーブルデザイン
  table{
    width: 100%;
    border-collapse:separate;
    border-spacing: 0;
  }
  
  table th:first-child{
    border-radius: 5px 0 0 0;
  }
  
  table th:last-child{
    border-radius: 0 5px 0 0;
    border-right: 1px solid #3c6690;
  }
  
  table th{
    text-align: center;
    color:white;
    background: linear-gradient(#829ebc,#225588);
    border-left: 1px solid #4f79a3;
    border-top: 1px solid #5183b4;
    border-bottom: 1px solid #4c80b4;
    box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
    width: 25%;
    padding: 10px 0;
  }
  
  table td{
    text-align: center;
    border-left: 1px solid #a8b7c5;
    border-bottom: 1px solid #a8b7c5;
    border-top:none;
    box-shadow: 0px -3px 5px 1px #eee inset;
    width: 25%;
    padding: 10px 0;
  }
  
  table td:last-child{
    border-right: 1px solid #a8b7c5;
  }
  
  table tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
  }
  /* boxデザイン */

  .box11{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #000000;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    text-align: left;
  }
  .box11 p {
    margin: 0; 
    padding: 0;
    font-size: 0.8rem;
  }
}




.section4{
  height: fit-content;
  width: 90%;
  background-color: rgb(255, 255, 255);
  // background-image: url(../img/crean6.jpg);
  text-align: center;
  color: rgb(0, 0, 0);
  margin: 0 auto;
  .midasi2{
    margin-top: 4rem;
    margin-bottom: 7rem;
    font-size: 1.2rem;
  }
  .reasons{
    display: block;
    // justify-content: center;
    margin: 0 auto;
    .reason{
      margin: 0 auto;
      margin-top: 8rem;
      min-height: 25rem;
      height: fit-content;
      margin-right: 1rem;
      background-color: rgba(255, 255, 255, 0.2);
      width: 40%;
      h4{
        margin-top: 5%;
        font-size: 2rem;
        font-weight: bold;
      }
      p{
        width: 84%;
        margin:0 auto ;
        margin-top: 8%;
        font-weight: bold;
        font-size: 1.55rem;
        text-align: left;
      }
    }
    .reason-box{
      margin: 0 auto;
      margin-bottom:5rem ;
      width: 80%;
    }
  }
}




.section5{
  height: fit-content;
  background-color: rgb(241, 241, 241);
  text-align: center;
  width: 100%;
  .inner-area{
    width: 100%;
    margin: 0 auto;
    .midasi2{
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .point{
      width: 90%;
      margin: 0 auto;
      text-align: left;
      padding: 1.4rem;
      p{
        width: 90%;
        margin: 0 auto;
        font-size: 1.3rem;
      }
    }
    img{
      width: 38%;
    }
  }
}

.section6{
  height: fit-content;
  background-color:  rgb(255, 255, 255);
  width: 100%;
  margin: 0 auto;
  .title{
    text-align: center;
    margin: 5rem;
  }
  .word-size{
    font-size: 1.3rem;
  }
}


// 申し込みフォームSCSS
.form-call{
  text-align: center;
  height: fit-content;
  width: 100%;
  .midasi2{
    padding: 14%;
    font-size: 1.8rem;
  }
}


footer{
  height: fit-content;
  background-color: #4f82c9;
  color: white;
  padding-top:2rem ;
  text-align: center;
  .content{
    width: 50%;
    margin: 0 auto;
    display: inline-block;
    padding: 1rem;
    .left{
      margin-right: 1rem;
      .footer-logo{
        img{
          width: 20rem;
          height: 5rem;
          margin:0 0 2rem 0;
        }
      }
      a{
        text-decoration: none;
      }
      .btn-tel{
        border: solid 1px white;
        border-radius:0.2rem ;
        margin-bottom: 0.2rem;
      }
      .btn-tel:hover{
        background-color: rgb(26, 44, 121);
      }
      p{
        color: white;
        padding: 0;
        margin: 0;
        font-size:1.4rem ;
      }
    }
    .right{
      display: none;
      .footer-list{
        font-size: 1.3rem;
        padding: 0 auto;
        background-color: rgba(31, 59, 102, 0.336);
        border-radius: 0.5rem;
        padding: 0.4rem;
      }
      ul{
        display: flex;
        a{
          text-decoration: none;
        }
        
        li{
         list-style: none; 
         color: white;
         margin-right: 3rem;
        }
        li:hover{
          color: rgb(170, 170, 170);
        }
      }
    }
  }
  .bottom{
    text-align: center;
    
  }
}