@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
.container1 {
  width: 100%;
  overflow: hidden;
}

header {
  background-size: cover;
}

header .logo {
  width: 250px;
  height: 75px;
  position: fixed;
  left: 13rem;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 2147483647;
}

header nav {
  padding-top: 10px;
  display: none;
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 2147483647;
  font-weight: bold;
  width: 55%;
}

header ul {
  margin: 0;
}

header ul li {
  margin-right: 1rem;
  color: #1a1a1a;
}

.snip1211 {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  border: solid 1px black;
  background-color: rgba(255, 255, 255, 0.911);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.3rem;
}

.snip1211 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1211 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.3em 1em;
  padding: 0;
}

.snip1211 a {
  padding: 0.4em 0;
  color: rgba(36, 33, 33, 0.8);
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.snip1211 a:before {
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  top: 25%;
  bottom: 25%;
  left: 0;
  right: 0;
  border-top: 3px solid #011846;
  border-bottom: 3px solid  #011846;
}

.snip1211 a:hover,
.snip1211 .current a {
  color: black;
}

.snip1211 a:hover:before,
.snip1211 .current a:before {
  opacity: 1;
  top: 0;
  bottom: 0;
}

.effect-fade {
  opacity: 0;
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
  -webkit-transition: all 1500ms;
  transition: all 1500ms;
}

.effect-fade.effect-scroll {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.main-view {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.main-view h2 {
  margin: 0;
}

.main-view__right {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(110, 110, 110, 0)), to(rgba(31, 31, 31, 0.74))), url(../img/crean5.JPG);
  background: linear-gradient(rgba(110, 110, 110, 0), rgba(31, 31, 31, 0.74)), url(../img/crean5.JPG);
  background-size: cover;
  background-position: center center;
}

.main-view__right .img {
  height: 80%;
  width: 100%;
}

.main-view__right .text {
  text-align: center;
  font-size: 3rem;
  color: whitesmoke;
  font-weight: bold;
  margin: 0;
  padding-top: 40rem;
}

.main-view__left {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*左右中央揃え*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*上下中央揃え*/
  background-color: #4072b8;
  background-size: cover;
  color: white;
  text-align: center;
  font-family: 'Noto Serif JP',"游明朝", 'YuMincho', "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  padding: 2rem;
}

.main-view__left .inner {
  margin-top: 7rem;
}

.main-view__left .explain4 {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.main-view__left .main-text {
  border-top: solid 1px white;
  border-bottom: solid 1px #fdfdfd;
  font-size: 5rem;
  line-height: 6rem;
}

.main-view__left .btn-flat-border {
  display: inline-block;
  padding: 1em 1.4em;
  text-decoration: none;
  color: #ffffff;
  border: solid 2px #ffffff;
  border-radius: 3px;
  -webkit-transition: .4s;
  transition: .4s;
}

.main-view__left .word-size {
  font-size: 1.6rem;
}

.main-view__left .btn-flat-border:hover {
  background: #67c5ff;
  color: white;
  border: solid 2px #ffffff;
  text-decoration: none;
}

.main-view__left .zisseki {
  margin-top: 1rem;
  background-image: url(../img/prise.png);
  background-size: contain;
  background-repeat: no-repeat;
  /* 画像の繰り返しを指定 */
  background-position: center;
  /* 画像の表示位置を指定  */
  background-size: contain;
  height: 34rem;
  padding: 5rem;
  position: relative;
}

.main-view__left .zisseki .hotel-osaka {
  position: absolute;
  width: 21rem;
  height: 23rem;
  left: 77rem;
  top: 9rem;
  border: solid 2px white;
  border-radius: 50%;
}

.main-view__left .zisseki .text {
  color: #030303;
  font-weight: bold;
}

.main-view__left .zisseki .text img {
  height: 7rem;
  width: 16rem;
  padding-bottom: 2rem;
}

.main-view__left .zisseki .text a {
  text-decoration: none;
  color: black;
}

.main-view__left .zisseki .text .head-t {
  margin-top: 2rem;
  font-family: 'Hiragino Kaku Gothic Pro';
  font-size: 3.6rem;
  color: #8a0808;
  text-shadow: 2px 2px 10px white, -2px 2px 10px #f8f8f8, 2px -2px 10px white, -2px -2px 10px white;
}

.main-view__left .zisseki .text .first {
  font-size: 1.5rem;
}

.main-view__left .zisseki .text .first .covid {
  font-size: 2rem;
}

.main-view__left .zisseki .text .secound {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.main-view__left .zisseki .text .third {
  font-size: 3.4rem;
}

.main-view__left .phone-num {
  background-color: #fff;
  color: #00183a;
  border-radius: 0.5rem;
}

section.section0-1 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #ececec;
  text-align: center;
  padding: 7rem 0;
}

section.section0-1 .inner {
  width: 90%;
  margin: 0 auto;
}

section.section0-1 .midasi2 {
  margin-bottom: 7rem;
  font-size: 2.5rem;
}

section.section0-1 .promises {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.section0-1 .promises .point7 {
  font-size: 2.5rem;
  color: #87befd;
  width: 80%;
  margin: 0 auto;
  padding: 0.4rem;
  margin-bottom: 4rem;
}

section.section0-1 .c-reasons {
  margin-top: 15rem;
}

section.section0-1 .c-reasons .frex-r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

section.section0-1 .c-reasons .reason {
  background-color: #fff;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  padding: 2rem;
  -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
  margin-top: 10rem;
  border-radius: 10px;
}

section.section0-1 .c-reasons .reason__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.section0-1 .c-reasons .reason .left {
  width: 60%;
}

section.section0-1 .c-reasons .reason .left__title {
  width: 40%;
  margin: 0 auto;
  font-size: 2rem;
  color: #fdfeff;
  background-color: #3a85c2;
  border-radius: 10px;
  padding: 5px 0;
  margin-bottom: 3rem;
}

section.section0-1 .c-reasons .reason .left__text {
  text-align: left;
  font-size: 1.3rem;
  margin-top: 2rem;
  font-weight: 500;
}

section.section0-1 .c-reasons .reason .left__text p {
  border-bottom: dotted 2px gray;
  line-height: 3.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

section.section0-1 .c-reasons .reason .right-img {
  width: 40%;
}

section.section0-1 .c-reasons .reason .right-img img {
  width: 95%;
  border: solid 2px rgba(39, 39, 39, 0.712);
  padding: 5px;
}

section.section0-1 .btn-circle-stitch {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  background: #87befd;
  color: #FFF;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: wrap;
  text-align: center;
  -webkit-box-shadow: 0px 0px 0px 5px #87befd;
          box-shadow: 0px 0px 0px 5px #87befd;
  border: dashed 1px #FFF;
  -webkit-transition: .4s;
  transition: .4s;
}

section.section0-1 .btn-circle-stitch:hover {
  background: #668ad8;
  -webkit-box-shadow: 0px 0px 0px 5px #668ad8;
          box-shadow: 0px 0px 0px 5px #668ad8;
}

section.section0-1 .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.6rem;
  font-weight: 900;
  margin-bottom: 5px;
}

section.section0-1 .text span.title {
  font-size: 8rem;
  font-weight: 900;
}

section.section0 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  text-align: center;
  padding: 4px;
  width: 90%;
  margin: 0 auto;
  /* boxデザイン */
}

section.section0 .midasi2 {
  margin: 5rem;
  font-size: 2.5rem;
}

section.section0 table {
  border-collapse: collapse;
  border: none;
}

section.section0 table table, section.section0 table td, section.section0 table th {
  border: solid 1px rgba(24, 24, 24, 0.61) !important;
}

section.section0 table th, section.section0 table td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.section0 table td {
  font-size: 1rem;
}

section.section0 table th {
  font-size: 1rem;
}

section.section0 table .standerd_tr {
  background-color: #e1f8de;
}

section.section0 table .standerd_tr:hover {
  background-color: rgba(225, 248, 222, 0.918);
}

section.section0 table .better_tr {
  background-color: #c6f1f8;
}

section.section0 table .better_tr:hover {
  background-color: rgba(198, 241, 248, 0.822);
}

section.section0 table .best_tr {
  background-color: #cebcff;
}

section.section0 table .best_tr:hover {
  background-color: rgba(206, 188, 255, 0.836);
}

section.section0 table .best2_tr {
  background-color: #fcb8b8;
}

section.section0 table .best2_tr:hover {
  background-color: rgba(252, 184, 184, 0.877);
}

section.section0 table td.last-col {
  background-color: #fff;
}

section.section0 table td.last-col2 {
  background-color: #e3fc00;
  color: red;
  font-weight: 900;
}

section.section0 .box11 {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #000000;
  background: white;
  border-top: solid 5px #5d627b;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  text-align: left;
}

section.section0 .box11 p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.section1 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  text-align: center;
  width: 100%;
}

.section1 .reason-box {
  width: auto;
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.section1 .midasi2 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.section1 .crean-flows .row4 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1%;
}

.section1 .crean-flows .row4 .crean-flow {
  width: 40%;
  margin-right: 3rem;
  padding-bottom: 6rem;
}

.section1 .crean-flows .row4 .crean-flow p {
  margin: 0;
  font-size: 1.2rem;
}

.section1 .crean-flows .row4 .crean-flow .title {
  background-color: #4072b8;
  color: white;
  font-weight: bold;
  width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
  font-family: 'arial black';
}

.section1 .crean-flows .row4 .crean-flow img {
  padding: 1.2rem;
  border: solid 1px #252525;
  width: 100%;
  height: 100%;
  margin-top: 0.5rem;
}

.section1 .crean-flows .row4 .crean-flow .text {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.section1 .point2 {
  width: 60%;
  margin: 0 auto;
  font-size: 3rem;
}

.section1 .point2 p {
  margin: 0;
}

.section1 .midasi2 {
  font-size: 2rem;
}

.section1 .formation {
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 90%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section1 .formation .left-img {
  border: solid 1px black;
  width: 100%;
  margin: 0 auto;
}

.section1 .formation .left-img img {
  width: 90%;
  height: 90%;
}

.section1 .formation .right-text {
  padding-top: 4rem;
  height: 45rem;
  border: solid 1px black;
  width: 100%;
  margin: 0 auto;
  margin-top: 4rem;
}

.section1 .formation .right-text ul {
  margin-top: 3rem;
  margin-left: 3rem;
}

.section1 .formation .right-text li {
  text-align: left;
}

.section1 .formation .right-text p {
  border: solid 1px gray;
  width: 70%;
  margin: 0 auto;
  margin-top: 5rem;
  background-color: #707ab3;
  color: white;
  border-radius: 0.3rem;
  font-weight: bold;
}

.section1 .drug {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 20rem;
}

.section1 .drug table {
  margin: 0 auto;
  width: 100%;
  border: #0f0f0f;
}

.section1 .drug .drug__kome {
  margin: 0;
}

.section2 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  text-align: center;
  padding: 0;
}

.section2 .flow-graf {
  margin-top: 10rem;
}

.section2 .flow-graf .row {
  width: 90%;
  margin: 0 auto;
}

.section2 .flow-graf .row .graf {
  width: 20%;
  height: 22rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  background-color: #637ae2;
  color: white;
  position: relative;
}

.section2 .flow-graf .row .graf .num {
  font-size: 5rem;
  font-weight: bolder;
}

.section2 .flow-graf .row .graf .text {
  margin: 0 auto;
  width: 90%;
  margin-top: 3rem;
  border-top: solid 1px white;
  padding-top: 1rem;
  font-size: 1rem;
  font-weight: bolder;
}

.section2 .flow-graf .row .graf .triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #637ae2;
  top: 40%;
  left: 100%;
}

.section2 .flows {
  width: 80%;
  margin: 0 auto;
  margin-top: 10rem;
}

.section2 .flows .yazirusi {
  padding: 1rem;
}

.section2 .flows .yazirusi .color {
  color: #4072b8;
}

.section2 .flows .flow {
  border: solid 1px black;
}

.section2 .flows .flow .flow-title {
  border-bottom: solid 1px black;
  font-weight: bold;
  text-align: center;
  font-size: 1.3rem;
}

.section2 .flows .flow .title-span {
  background-color: #4072b8;
  color: white;
  font-weight: bold;
  padding: 1px;
  float: left;
  border-radius: 1px;
}

.section2 .flows .flow .flow-text {
  width: 85%;
  font-size: 1.3rem;
  text-align: center;
  margin: 0 auto;
}

.section2 .flows .flow .flow-text p {
  text-align: left;
  margin-bottom: 0;
  padding: 1%;
  font-size: 1.1rem;
}

.section2 .flows .point {
  color: #3b639b;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: left;
  border-top: solid 2px #4072b8;
  border-bottom: solid 2px #4072b8;
}

.section2 .flows .point p {
  padding: 1rem;
  width: 80%;
  margin: 0 auto;
}

.section2 .flows .point:after {
  background-color: #4072b8;
}

.section3 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #ececec;
  text-align: center;
  padding: 1vw;
  /* boxデザイン */
}

.section3 .midasi2 {
  margin: 5rem;
  font-size: 3vw;
}

.section3 .time {
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 80%;
}

.section3 .time .midasi2 {
  font-size: 3vw;
}

.section3 .time__box {
  height: 45vw;
  border: solid 0.5rem #2c67b4;
  margin: 0 auto;
  color: #2e2e2e;
}

.section3 .time__box .upper {
  height: 60%;
  border-bottom: dotted 1.5px #2f3d8b;
  text-align: center;
  padding: 2vw;
}

.section3 .time__box .upper__1 {
  font-weight: bold;
  font-size: 3vw;
}

.section3 .time__box .upper__2 {
  font-size: 7vw;
  width: 100%;
}

.section3 .time__box .upper__3 {
  font-size: 2.4vw;
}

.section3 .time__box .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40%;
}

.section3 .time__box .bottom .left {
  border-right: dotted 1.5px #2f3d8b;
  width: 50%;
  padding: 3vw 0;
}

.section3 .time__box .bottom .left p {
  font-size: 2vw;
}

.section3 .time__box .bottom .right {
  width: 50%;
  padding: 3vw 0;
}

.section3 .time__box .bottom .right .btn-size {
  font-size: 3vw;
}

.section3 .time__box .bottom .right h3 {
  font-size: 1.6vw !important;
}

.section3 .time .btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #2f3d8b;
  border: solid 2px #2f3d8b;
  border-radius: 3px;
  -webkit-transition: .4s;
  transition: .4s;
}

.section3 .time .btn-flat-border:hover {
  background: #2f3d8b;
  color: white;
}

.section3 table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.section3 table th:first-child {
  border-radius: 5px 0 0 0;
}

.section3 table th:last-child {
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

.section3 table th {
  text-align: center;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#829ebc), to(#225588));
  background: linear-gradient(#829ebc, #225588);
  border-left: 1px solid #4f79a3;
  border-top: 1px solid #5183b4;
  border-bottom: 1px solid #4c80b4;
  -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
          box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
  width: 25%;
  padding: 10px 0;
}

.section3 table td {
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top: none;
  -webkit-box-shadow: 0px -3px 5px 1px #eee inset;
          box-shadow: 0px -3px 5px 1px #eee inset;
  width: 25%;
  padding: 10px 0;
}

.section3 table td:last-child {
  border-right: 1px solid #a8b7c5;
}

.section3 table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

.section3 .box11 {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #000000;
  background: white;
  border-top: solid 5px #5d627b;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  text-align: left;
}

.section3 .box11 p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.section4 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 90%;
  background-color: white;
  text-align: center;
  color: black;
  margin: 0 auto;
}

.section4 .midasi2 {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.section4 .reasons {
  display: block;
  margin: 0 auto;
}

.section4 .reasons .reason {
  margin: 0 auto;
  margin-top: 8rem;
  min-height: 25rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  width: 40%;
}

.section4 .reasons .reason h4 {
  margin-top: 5%;
  font-size: 2rem;
  font-weight: bold;
}

.section4 .reasons .reason p {
  width: 84%;
  margin: 0 auto;
  margin-top: 8%;
  font-weight: bold;
  font-size: 1.55rem;
  text-align: left;
}

.section4 .reasons .reason-box {
  margin: 0 auto;
  margin-bottom: 5rem;
  width: 60%;
}

.section5 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #f1f1f1;
  text-align: center;
  width: 100%;
}

.section5 .inner-area {
  width: 100%;
  margin: 0 auto;
}

.section5 .inner-area .midasi2 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.section5 .inner-area .point {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  padding: 1.4rem;
}

.section5 .inner-area .point p {
  width: 90%;
  margin: 0 auto;
  font-size: 1.3rem;
}

.section5 .inner-area img {
  width: 38%;
}

.section6 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  width: 100%;
  margin: 0 auto;
}

.section6 .title {
  text-align: center;
  padding: 5rem;
}

.section6 .word-size {
  font-size: 1.3rem;
}

.form-call {
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.form-call .midasi2 {
  padding: 14%;
  font-size: 1.8rem;
}

footer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #4f82c9;
  color: white;
  padding-top: 2rem;
  text-align: center;
}

footer .content {
  width: 50%;
  margin: 0 auto;
  display: inline-block;
  padding: 1rem;
}

footer .content .left {
  margin-right: 1rem;
}

footer .content .left .footer-logo img {
  width: 20rem;
  height: 5rem;
  margin: 0 0 2rem 0;
}

footer .content .left a {
  text-decoration: none;
}

footer .content .left .btn-tel {
  border: solid 1px white;
  border-radius: 0.2rem;
  margin-bottom: 0.2rem;
}

footer .content .left .btn-tel:hover {
  background-color: #1a2c79;
}

footer .content .left p {
  color: white;
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
}

footer .content .right {
  display: none;
}

footer .content .right .footer-list {
  font-size: 1.3rem;
  padding: 0 auto;
  background-color: rgba(31, 59, 102, 0.336);
  border-radius: 0.5rem;
  padding: 0.4rem;
}

footer .content .right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .content .right ul a {
  text-decoration: none;
}

footer .content .right ul li {
  list-style: none;
  color: white;
  margin-right: 3rem;
}

footer .content .right ul li:hover {
  color: #aaaaaa;
}

footer .bottom {
  text-align: center;
}
/*# sourceMappingURL=smartphone.css.map */