header{
  background-size:cover;
  .logo{
    left: 10rem;
    top: 1rem;
    height: 5rem;
    width: 14rem;
  }
  // ナビゲーション消す
  nav{
    display: none;
  }
}



.main-view{
  // width: 100%;
  // height: 100vh;
  // flex-flow: row-reverse;
  display: inline;
  
  h2{
    margin: 0;
  }
  &__text{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    
  }
  &__img{
    width: 100%;
    height: 100%;
    padding: 7rem;
    
    .main-text{
      border-top:solid 1px white;
      border-bottom: solid 1px white;
    }
    .phone-num{
      background-color: #fff;
      color: #00183a;
      border-radius: 0.5rem;      

    }
  }
}



.section1{
  height: fit-content;
  background-image: url(../img/crean6.jpg);
  color: rgb(0, 0, 0);
  padding: 5%;
  .midasi2{
    margin: 5rem;
  }
  .reasons{
    display: block;
    .reason{
      margin: 0 auto;
      min-height: 25rem;
      background-color: rgba(255, 255, 255, 0.1);
      width: 70%;
      margin-bottom: 2rem;
     
      h4{
        margin-bottom: 5rem;
      }
      p{
        margin-top: 0;
      }
    }
  }
}

.section2{
  height: fit-content;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 10rem;
  .flows{
    width: 90%;
    margin: 0 auto;
    margin-top: 10rem;
    .flow{
      border: solid 1px black;
      padding-bottom: 4rem;
      .flow-title{
        border-bottom: solid 1px black;
        padding: 0.2rem;
      }
      .title-span{
        background-color: rgb(112, 82, 182);
        color: white;
        font-weight: bold;
        padding: 1px;
        float: left;
        line-height: 2.4rem;
      }
      .flow-text{
        width: 85%;
        margin: 0 auto;
        font-size: 14px;
      }
    }
  }
}

.section3{
  height: fit-content;
  background-color: rgb(241, 241, 241);
  text-align: center;
  padding: 10rem;
  .midasi2{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .point{
    width: 80%;
    margin: 0 auto;
  }
  img{
    width: 80%;
    height: 60%;
  }
}

.section4{
  height: fit-content;
  background-color: rgb(255, 255, 255);
  text-align: center;
  width: 100%;
  .reason-box{
    width: 25%;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  .midasi2{
    padding: 100px;
  }
  .crean-flows{
    .row4{
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 1%;
      
    }
    .crean-flow{
      width: 40%;
      height: 80%;
      p{
        margin: 0;
        font-size: 1.2rem;
      }
      .title{
        background-color:rgb(209, 209, 209);
        color: white;
        font-weight: bold;
        width: 70%;
        margin:0 auto ;

      }
      img{
        padding: 1.2rem;
        border: solid 1px rgb(37, 37, 37);
        width: 70%;
        height: 70%;
        margin-top: 0.5rem;

      }
      .text{
        height: 7rem;
      }
    }
  }
  .point2{
    width: 60%;
    margin: 0 auto;
    font-size: 3rem;
    p{
     margin: 0;
    }
  }
  .midasi2{
    font-size: 1.5rem;
  }
  .formation{
    margin: 0 auto;
    height: fit-content;
    width: 85%;
    margin-top:100px;
    margin-bottom: 100px;
    display: block;
    justify-content: center;
    .left-img{
      border: solid 1px black;
      width: 80%;
      margin: 0 auto;
      img{
        width: 90%;
        height: 90%;
      }
    }
    .right-text{
      margin: 0 auto;
      padding-top: 8rem;
      padding-left:rem ;
      height: 45rem;
      border: solid 1px black;
      width: 80%;
      margin-top: 4rem;
      ul{
        margin-top: 3rem;
        margin-left: 3rem;
      }
      li{
        text-align: left;
      }
      p{
        border:solid 1px gray ;
        width: 70%;
        margin:0 auto ;
        margin-top: 5rem;
        background-color: rgb(112, 122, 179);
        color: white;
        border-radius: 0.3rem;
        font-weight: bold;
      }
    }
  }
  .drug{
    margin: 0 auto;
    width:85% ;
    padding-bottom: 20rem;
    table{
      margin: 0 auto;
      width: 80%;
    }
  }
}