@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
h1 {
  margin: 0;
  padding: 20px;
}

header {
  height: 100px;
  background-color: #e6e6ee;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .logo {
  width: 200px;
  height: 88px;
}

header nav {
  padding-top: 10px;
}

header ul {
  margin: 0;
}

header ul li {
  margin-right: 5px;
}

.snip1211 {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.snip1211 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1211 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1.5em;
  padding: 0;
}

.snip1211 a {
  padding: 0.4em 0;
  color: rgba(36, 33, 33, 0.8);
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.snip1211 a:before {
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  top: 25%;
  bottom: 25%;
  left: 0;
  right: 0;
  border-top: 3px solid #34495e;
  border-bottom: 3px solid #34495e;
}

.snip1211 a:hover,
.snip1211 .current a {
  color: black;
}

.snip1211 a:hover:before,
.snip1211 .current a:before {
  opacity: 1;
  top: 0;
  bottom: 0;
}

/* Demo purposes only */
.effect-fade {
  opacity: 0;
  -webkit-transform: translate(100px, 0);
          transform: translate(100px, 0);
  -webkit-transition: all 1500ms;
  transition: all 1500ms;
}

.effect-fade.effect-scroll {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.main-img {
  text-align: center;
  background-image: url(../img/test1.jpg);
  background-position: center;
  height: 500px;
  background-size: contain;
  width: auto;
  background-repeat: no-repeat;
}

.main-img .title {
  font-size: 50px;
  margin: 0;
  color: #f0f2f5;
  line-height: 400px;
  text-shadow: 2px 2px 2px #2e2e2e;
}

.section1 {
  height: 80vh;
  background-color: #d1f0fa;
  text-align: center;
  color: #3a3a3a;
}

.section1 .reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section1 .reasons .reason {
  margin-top: 80px;
  width: 15%;
  height: 250px;
  border-radius: 10%;
  background: -webkit-gradient(linear, left top, left bottom, from(#e4f5fc), to(#dbd6ff));
  background: linear-gradient(#e4f5fc, #dbd6ff);
  margin-right: 10px;
}

.section2 {
  height: 80vh;
  background-color: #fafaed;
  text-align: center;
}

.section2 .flows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section2 .flows .flow {
  color: whitesmoke;
  height: 280px;
  width: 150px;
  background-color: #77c6e6;
  margin-right: 20px;
  border-radius: 6px;
  position: relative;
  -webkit-box-shadow: 1px 206;
          box-shadow: 1px 206;
  text-align: center;
}

.section2 .flows .flow .num {
  font-size: 40px;
  font-weight: bold;
  color: whitesmoke;
  text-align: center;
  margin: 10px 0 10px;
}

.section2 .flows .flow h2 {
  margin: 0;
  margin-top: 10px;
}

.section2 .flows .flow p {
  font-size: 14px;
  padding: 4px;
  margin: 0;
}

.section2 .flows .flow .col-white {
  display: inline;
  color: whitesmoke;
}

.section2 .flows .flow:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #77c6e6;
}

.section2-2 {
  height: 80vh;
  background-color: #fafaed;
  text-align: center;
}

.section2-2 .flows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section2-2 .flows .flow {
  color: whitesmoke;
  height: 360px;
  width: 280px;
  background-color: #77c6e6;
  margin-right: 20px;
  border-radius: 6px;
  position: relative;
  -webkit-box-shadow: 1px 206;
          box-shadow: 1px 206;
  text-align: center;
}

.section2-2 .flows .flow .num {
  font-size: 40px;
  font-weight: bold;
  color: whitesmoke;
  text-align: center;
  margin: 10px 0 10px;
}

.section2-2 .flows .flow h2 {
  margin: 0;
  margin-top: 10px;
}

.section2-2 .flows .flow p {
  font-size: 14px;
  padding: 4px;
  margin: 0;
}

.section2-2 .flows .flow img {
  border-radius: 10px;
  height: 170px;
  width: 200px;
}

.section2-2 .flows .flow .col-white {
  display: inline;
  color: whitesmoke;
}

.section2-2 .flows .flow:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #77c6e6;
}

.section3 {
  height: 80vh;
  background-color: lightblue;
  text-align: center;
}

.section3 img {
  width: 600px;
  height: 350px;
  border-radius: 10px;
}

.section4 {
  height: 65vh;
  background-color: #fafaed;
  text-align: center;
}

.section5 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: lightblue;
  text-align: center;
  padding: 16px;
}

.section5 table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.section5 table th:first-child {
  border-radius: 5px 0 0 0;
}

.section5 table th:last-child {
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

.section5 table th {
  text-align: center;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#829ebc), to(#225588));
  background: linear-gradient(#829ebc, #225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
          box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
  width: 25%;
  padding: 10px 0;
}

.section5 table td {
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top: none;
  -webkit-box-shadow: 0px -3px 5px 1px #eee inset;
          box-shadow: 0px -3px 5px 1px #eee inset;
  width: 25%;
  padding: 10px 0;
}

.section5 table td:last-child {
  border-right: 1px solid #a8b7c5;
}

.section5 table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

.section6 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fafaed;
}
/*# sourceMappingURL=toppage.css.map */