h1{
  margin: 0;
  padding: 20px;
}
body{
  font-family:'Noto Serif JP',"游明朝", 'YuMincho', "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

//rem 62.5の設定 
html {
  /* ルートのフォントサイズを10pxに設定しておく */
font-size: 62.5%;
}
body {
/* ルートのフォントサイズを1.6em（16pxと同等のサイズ）に設定 */
font-size: 1.6em;
}
// div h2{
// /* 68px */
// font-size: 6.8rem;
// }
// div a{
// /* 38px */
// font-size: 3.8rem;
// }


.container1{
  width: 100%;
  overflow: hidden;

}
header{
  // background-color: rgba(35, 35, 187, 0.1);
  background-size:cover;
  .logo{
    width: 250px;
    height: 75px;
    position: fixed;
    left: 10%;
    transform: translate(-50%, 0);
    z-index: 2147483647;
  }
  nav{
    padding-top: 10px;
    // 中央揃え記述
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2147483647;
    font-weight: bold;
  }
  ul{
    margin:0;
    li{
      margin-right: 1rem;
      color: rgb(26, 26, 26);
    }
  }
}
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
.snip1211 {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  // letter-spacing: 1px;
  border: solid 1px black;
  background-color: rgba(255, 255, 255, 0.911);
  display: flex;
  justify-content: center;
}
.snip1211 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  // 初期の動き停止
  // -webkit-transition: all 0.35s ease;
  // transition: all 0.35s ease;
}
.snip1211 li {
  display: inline-block;
  list-style: outside none none;
  // margin: 0.5em 1.5em;
  margin: 0.3em 1em;
  padding: 0;
  
}
.snip1211 a {
  padding: 0.4em 0;
  // color: rgba(255, 255, 255, 0.5);
  color: rgba(36, 33, 33, 0.8);
  position: relative;
  text-decoration: none;
  display: inline-block;
}
// ヘッダーアニメーション
.snip1211 a:before {
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  top: 25%;
  bottom: 25%;
  left: 0;
  right: 0;
  border-top: 3px solid #011846;
  border-bottom: 3px solid  #011846;
}
.snip1211 a:hover,
.snip1211 .current a {
  // color: #ffffff;
  color: black;
}
.snip1211 a:hover:before,
.snip1211 .current a:before {
  opacity: 1;
  top: 0;
  bottom: 0;
}
/* Demo purposes only */
// body {
//   background-color: #212121;
// }

.effect-fade {
  opacity : 0;
  transform : translate(0,100px);
  transition : all 1500ms;
  }
  
.effect-fade.effect-scroll {
opacity : 1;
transform : translate(0, 0);
}

.main-view{
  width: 100%;
  height: 100vh;
  display: flex;
  h2{
    margin: 0;
  }
  
  &__text{
    width: 45%;
    height: 100%;
  background-color: #fff;
  }
  &__img{
    display: flex;
    justify-content: center; /*左右中央揃え*/
    align-items: center;     /*上下中央揃え*/
    // background-color: #00183a;
    // background-color: #4072b8;
    background-color: #4f82c9;
    width: 55%;
    height: 100%;
    color: white;
    text-align: center;
    font-family:'Noto Serif JP',"游明朝", 'YuMincho', "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    padding: 2rem;
    .main-text{
      border-top:solid 1px white;
      border-bottom: solid 1px white;
    }
    .phone-num{
      background-color: #fff;
      color: #00183a;
      border-radius: 0.5rem;      

    }

    // BOXデザイン
    .box19 {
      position: relative;
      padding:0.25em 1em;
      margin-top: 5em;
    }
    .box19:before,.box19:after{ 
        content:'';
        width: 2rem;
        height: 3rem;
        position: absolute;
        display: inline-block;
    }
    .box19:before{
        border-left: solid 1px #ffffff;
        border-top: solid 1px #f3f3f3;
        top:0;
        left: 0;
    }
    .box19:after{
        border-right: solid 1px #ffffff;
        border-bottom: solid 1px #ffffff;
        bottom:0;
        right: 0;
    }
    .box19 p {
        margin: 0; 
        padding: 0;
    }
    // boxデザインここまで
    .btn-flat-border{
      color: white;
      border: solid 2px #ffffff;
    }

  }
}
// ボタンデザイン
.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: #67c5ff;
  color: white;
  text-decoration: none;
  
}



.message{
  background-color: rgb(19, 67, 223);
  // background-color: rgb(85, 117, 223);
  color: rgb(252, 240, 240);
  font-weight: bold;
  text-align: center;
  font-family: 丸ゴシック体;
  h2{
    margin: 0;
  }
}





.section1{
  height: 100vh;
  background-color: rgb(255, 255, 255);
  background-image: url(../img/crean6.jpg);
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5%;
  .reasons{
    display: flex;
    justify-content: center;
    .reason{
      margin-top: 8rem;
      min-height: 25rem;
      height: fit-content;
      margin-right: 1rem;
      background-color: rgba(255, 255, 255, 0.1);
      width: 30%;
      h4{
        margin-top: 5%;
        font-size: 1.8rem;
        font-weight: bold;
      }
      p{
        width: 70%;
        margin:0 auto ;
        margin-top: 8%;
        // font-weight: bold;
        font-size: 1.4rem;
      }
    }
  }
}
// reason boxデザイン
.reason-box {
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  
}
.reason-box:before, .reason-box:after {
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
}
.reason-box:before {
  left: 0.7rem;
}
.reason-box:after {
  right: 0.7rem;
}




.section2{
  height: fit-content;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 10rem;
  .flows{
    width: 60%;
    margin: 0 auto;
    margin-top: 10rem;
    .flow{
      border: solid 1px black;
      padding-bottom: 4rem;
      .flow-title{
        border-bottom: solid 1px black;
        padding: 0.2rem;
      }
      .title-span{
        background-color: rgb(112, 82, 182);
        color: white;
        font-weight: bold;
        padding: 1px;
        float: left;
        line-height: 2.4rem;
      }
      .flow-text{
        width: 85%;
        margin: 0 auto;
        font-size: 14px;
      }
    }
  }
}




.section3{
  height: fit-content;
  background-color: rgb(241, 241, 241);
  text-align: center;
  padding: 10rem;
  .midasi2{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  img{
    width: 600px;
    height: 350px;
  }
}






.section4{
  height: fit-content;
  background-color: #F7F7F7;
  text-align: center;
  width: 100%;
  .reason-box{
    width: 15%;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  .midasi2{
    padding: 100px;
  }
  .crean-flows{
    .row4{
      display: flex;
      justify-content: center;
      margin-bottom: 1%;
      
    }
    .crean-flow{
      margin-right: 3rem;
      width: fit-content;
      // border: solid 1px black;
      p{
        margin: 0;
        font-size: 1.2rem;
      }
      .title{
        // border-bottom:solid 1px black ;
        background-color:rgb(209, 209, 209);
        color: white;
        font-weight: bold;
      }
      img{
        padding: 1.2rem;
        border: solid 1px rgb(37, 37, 37);
        width: 29rem;
        height: 21rem;
        margin-top: 0.5rem;
      }
      .text{
        // border-top:solid 1px black ;
        height: 7rem;
      }
    }
  }
  .point2{
    width: 60%;
    margin: 0 auto;
    font-size: 3rem;
    p{
     margin: 0;
    }
  }
  .midasi2{
    font-size: 3rem;
  }
  .formation{
    margin: 0 auto;
    height: fit-content;
    width: 80vw;
    margin-top:100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    .left-img{
      border: solid 1px black;
      width: 40%;
      img{
        width: 90%;
        height: 90%;
      }
    }
    .right-text{
      padding: 20px;
      height: 450px;
      border: solid 1px black;
      margin-left: 20px;
      width: 40%;

    }
  }
  .drug{
    margin: 0 auto;
    width:65% ;
    table{
      margin: 0 auto;
      width: 80%;
    }
  }
}
.section5{
  height: fit-content;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 16px;
  // テーブルデザイン
  table{
    width: 100%;
    border-collapse:separate;
    border-spacing: 0;
  }
  
  table th:first-child{
    border-radius: 5px 0 0 0;
  }
  
  table th:last-child{
    border-radius: 0 5px 0 0;
    border-right: 1px solid #3c6690;
  }
  
  table th{
    text-align: center;
    color:white;
    background: linear-gradient(#829ebc,#225588);
    border-left: 1px solid #3c6690;
    border-top: 1px solid #3c6690;
    border-bottom: 1px solid #3c6690;
    box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
    width: 25%;
    padding: 10px 0;
  }
  
  table td{
    text-align: center;
    border-left: 1px solid #a8b7c5;
    border-bottom: 1px solid #a8b7c5;
    border-top:none;
    box-shadow: 0px -3px 5px 1px #eee inset;
    width: 25%;
    padding: 10px 0;
  }
  
  table td:last-child{
    border-right: 1px solid #a8b7c5;
  }
  
  table tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
  }
  
}
.section6{
  height: fit-content;
  background-color:  #F7F7F7;
  padding: 7%;
  .title{
    text-align: center;
  }
}
.form-call{
  text-align: center;
  height: fit-content;
  .midasi2{
    margin: 5%;
  }
}